.contact-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
.contact-page {
    position: relative;
    background: none;
    color: #fff;
    padding: 0px 0;
}

.contact-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/cbg.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(10px);
    opacity: 0.9;
    z-index: -1;
}

.contact-hero {
    text-align: center;
    padding: 50px 0;
    background: none;
    position: relative;
    z-index: 1;
}

.contact-hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.contact-hero p {
    font-size: 18px;
    font-style: italic;
    color: #ffffff;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    display:inline-block;
    
  }
  
  .contact-form {
    background: #fe0f1d ;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
  }
  
  .contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #888;
  }
  
  .contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #1b1a19;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .social-icons a {
    margin: 0 15px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #000000;
  }
  
  .map-container {
    display:inline-block;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height:68vh;
    position:relative
  }
  .map-container::after {
    content: 'Vellore Institute of Technology, Chennai';
    position: absolute;
    top: 10px;
    right: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    z-index: 1;
  }
  
  .map-embed {
    width: 75%;
    height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
